/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.debug{
    border: 1px solid red;
}

/* general */
:root {
    --color-primary: #FFFFFF;
    --color-bg-secondary: #B4D0E7;
    --color-footer-bg: #000000;
    --color-contarast: #0061FF;
    --color-square-1: #A2D39B;
    --color-square-2: #61082B;
    --color-square-3: #0093CE;
    --color-square-4: #FF1C1C;
    --color-square-5: #D5001F;
    --color-square-6: #0D2481;
    --color-square-7: #FFD830;
}

body {
    font-family: "Open Sans", sans-serif;
}

.big-container{
    max-width: 1200px;
    margin: 0px auto;
}

.small-container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 50px 0px;
}

.container-special{
   width: 100%;
}

.btn{
    border: 1px solid var(--color-contarast);
    background-color: var(--color-contarast);
    color: var(--color-primary);
    padding: 10px 20px;
}

.btn-gray{
    color: var(--color-footer-bg);
    border:1px solid var(--color-footer-bg);
    background-color: var(--color-primary); 
    width: 10em;   
}
/* flex utility */
.d-flex{
    display: flex;
}

.column{
    flex-direction: column;

}

.flex-wrap{
    flex-wrap: wrap;
}

.space-btwn{
    justify-content: space-between;
}

.align-items{
    align-items: center;
   
}

.align-contens{
    align-content: flex-start;
}

.gap{
    gap: 40px;
}
.gap-header{
    gap: 50px;
}

.gap-column-hero{
    gap: 60px;
}

.gap-column-table{
    gap: 30px;
}

/* text/bg utility */
.text-format{
    line-height: 23px;
}

.text-big{
    font-size: 50px;
}

.text-gray{
    color: gray;
}

.text-center{
    text-align: center;
}

.bg-secondary{
    background-color: var(--color-bg-secondary);
}

.bg-footer{
    background-color: var(--color-footer-bg);
    color: var(--color-primary);
}

.bg-var-1{
    background-color: var(--color-square-1);
}

.bg-var-2{
    background-color:var(--color-square-2);
}

.bg-var-3{
    background-color: #0093CE;
}

.bg-var-4{
    background-color: var(--color-square-4);
}

.bg-var-5{
    background-color: #D5001F;
}

.bg-var-6{
    background-color: #B4D0E7;
}

.bg-var-7{
    background-color: #0D2481;
}

.bg-var-8{
    background-color: #FFD830;
}

.pdng{
    padding: 40px 0px;
}

/* header */
header{
    background-color: var(--color-primary);
    padding:  23px 4px 23px 23px ;
    height: 80px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
}

li .btn {
    margin-left: -16px;
}

/* main */
main{
    padding-top: 80px;
}

h1{
    font-size: 70px;
    font-weight: 900;
}

h2{
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    padding-bottom: 20px; 
}

h4{
    font-size: 25px;
}

div.text-format>h3{
    line-height: 23px;
}

.jumbo{
    width: 100%;
}

.block-tables{
    width: calc((100% / 3) - 60px);
}

.table {
    border: 1px solid gray;
}

div.table div:first-child{
    border-bottom: 1px solid gray;
    color:red;
    padding: 12px;
}

div.table div:nth-child(2){
    color: blue;
    padding: 25px;
    line-height: 30px;
}

div.table ul:nth-child(3){
    color: red;
    padding-left: 10px;
    line-height: 30px; 
}

div.table div:nth-child(4){
    color: orange;
}

.patner-img{
    width: 100%;
    display: block;
}

div.contact>div:first-child{
    width: 70%;
}

div.contact>div:last-child{
    width: 30%;
}

div.business>img{
    width: 100%;
}


.card{
    width: calc((100% / 3) );
}

div.pdng>div{
    padding: 40px 0px;
}

.square-container {
    width: 100%;
    height: 100%;
  }
  
.big-square {
    width: calc(100% / 3);
}
  
.square {
    width: 50%; 
    height: 50%; 
    align-items: center;
    justify-content: center;
    padding: 40px;
    aspect-ratio: 1 / 1;
    
}
  
.square img {
    display: block;
    margin: auto;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    filter: invert(100%);
}

div.action>div:first-child{
    width: 60%;
}

div.action>div:last-child{
    width: 40%;
}

div.action h2 {
    color: var(--color-square-2);
}

details.pdng{
    border-top: 1px solid gray;
}

details.pdng:last-child{
    border-bottom: 1px solid gray;
}

#hero{
    position: relative;
    top: 50px;
    left: 50px;
    
}

#column-hero{
    width: 70%;
}

#plan-business{
    margin-top: 49px;
}

#call-to-action{
    width: 80em;
    border: 1px solid var(--color-primary);
}


/* footer */

footer .text-format{
    line-height: 35px;
}

/* footer div:last-child{
    border-top: 1px solid var(--color-primary);
} */

.end-footer{
    padding: 50px 6px;
    border-top: 1px solid var(--color-primary);
    width: 8em;
}

footer span{
    padding: 5px;
}